{% load static %}

<footer class="bg-gray-800 text-white">
    <div class="container mx-auto py-12 px-20">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
            <div class="mb-6">
                <h6 class="text-lg font-semibold mb-2">Contactos</h6>
                <p class="text-sm">geral@explicamisto.pt</p>
            </div>
            <div class="mb-6">
                <h6 class="text-lg font-semibold mb-2">Segue-nos</h6>
                <p class="text-sm">
                    <a href="#"><img src="{% static "insta.png" %}" alt="Instagram" class="inline-block w-6 h-6 mr-2"></a>
                    <a href="#"><img src="{% static "face.png" %}" alt="Facebook" class="inline-block w-6 h-6 mr-2"></a>
                    <a href="#"><img src="{% static "linkedin.png" %}" alt="LinkedIn" class="inline-block w-6 h-6 mr-2"></a>
                    
                </p>
            </div>
            <div class="mb-6">
                <a href="#"><img src="{% static "logo_white.png" %}" alt="LinkedIn" class="img-size"></a>
                <p class="text-sm">
                    Eu sei e quero ensinar, tu não sabes e queres aprender!
                </p>
            </div>
        </div>
        <div class="text-center mt-8">
            <p class="text-sm">Departamento de Informática - ExplicaMisto © 2023</p>
        </div>
    </div>
</footer>
